.ti-filter {
    padding: 10px;
    background-color: #0e58fd;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 0px grey;
}

.b-r{
    border-right: solid 1px gray;
}
.printNumbers {
    font-weight: bold;
    cursor: pointer;
}
.search-box{
    background: #6c757d;
    color: white;
    padding: 15px;
}

.logo-title {
    text-transform: none;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    margin: 1rem 0;
    display: block;
}
.icon-c-logo .img-responsive {
    padding: 0!important;
}
.odd {
    background: #f1f1f1;
}
.fa-print:before {
    padding-right: 8px;
}
.filter-buttons .btn {
    background: #6c757d!important;
    border: 1px solid #ebeff2!important;
}
.filter-buttons .btn:hover, .filter-buttons .btn:active, .filter-buttons .btn:focus {
    border: 1px solid #ebeff2!important;
    background: #659f30!important;
}

.error, .error:hover, .error:active {
    border: 1px solid #e15361;
}
.error-span {
    color: #e15361;
}
.clickable {
    cursor: pointer;
}

.user-info span {
    color: #6ab023;
    width: 20%;
}
.info-content input {
    cursor: default!important;
}
